.Rproj.user
.Rhistory
.RData
.DS_Store
Global_Late_Blight_Risk_Mapping.Rproj
*.csv
*.shx
*.shp
*.dbf
*.rds
*.prj
*.html


ne_50m_admin_0_countries.dbf

ne_50m_admin_0_countries.prj

ne_50m_admin_0_countries.shp

ne_50m_admin_0_countries.README.html

ne_50m_admin_0_countries.shx

ne_50m_admin_0_countries.VERSION.txt

Production_Crops_E_All_Data.csv

*.rds

ne_50m_admin_0_countries.VERSION.txt

